body, html{
    margin: 0;
    height: 100%;
    width: 100%;
}

#logo{
    padding: 15px;    
}

#linha{
    width: 100%;
    padding-bottom: 15px;
}

#cabecalho{
    background-color: #ADD8E6;
    display: flex;
}

.menu{
    position: relative;
    margin-top: 8vh;
    margin-left: 65vw;
    margin-right: 10px;
    text-align: right;
}

.menuBtn{
    text-decoration: none;
    font-weight: bold;
    font-size: 12pt;
    margin: 2px;
    padding: 5px;
    color: black;
    border: 2px solid #ADD8E6;
    background-color: #ADD8E6;
}

.menuBtn:hover{
    color: white;
    background-color: #ADD8E6;
    border: 2px solid white;
}
